@using SouthAfricanNumbers.Shared
@using SouthAfricanNumbers.Client.Services

@page "/id/{Id:int}"

@inject INumberService NumberService

<h3>ID: @Id</h3>

@if(CurentNumber == null)
{
    <span>Loading...</span>
}
else
{
    <span>@CurentNumber.PhoneNumber</span>
}


@code {
    private Number CurentNumber;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurentNumber = await NumberService.GetNumberById(Id);
    }
}
