@using SouthAfricanNumbers.Shared
@using SouthAfricanNumbers.Client.Services
@inject INumberService NumberService

<h1>ZA Numbers</h1>

<div class="container">
    @if(CurrentNumbers != null)
    {
        @foreach (var Lnum in CurrentNumbers)
        {
            <div class="row">
                <div class="col">
                    <a href="/id/@Lnum.Id"><b>@Lnum.Id:</b></a> @Lnum.PhoneNumber
                </div>
            </div>
        }
    }
    else
    {
        <span>Loading...</span>
    }
</div>

@code {
    private List<Number> CurrentNumbers = new List<Number>();

    protected override async Task OnInitializedAsync()
    {
        CurrentNumbers = await NumberService.GetNumbers();
    }
}
